@font-face {
      font-family: 'Product Sans';
      src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

* {
      margin: 0px;
      padding: 0px;
}

body {
      font-family: Product Sans, sans-serif;
      background-color: #fcfcfc;
}

table {
      border-collapse: collapse;
}

thead {
      border-bottom: 1px solid #f1f1f1;
      line-height:10px;
}

tfoot {
      border-top: 1px solid #f1f1f1;
      line-height:30px;
}

tbody:before {
      content:"@";
      display:block;
      line-height:15px;
      text-indent:-99999px;
}

tbody:after {
      content:"@";
      display:block;
      line-height:15px;
      text-indent:-99999px;
}

tr {
      margin-bottom: 20px;
      height: 40px;
}

th, td {
      border: none !important;
}

.clickable {
      cursor: pointer;
}

.hoverable:hover {
      transform: scale(1.05);
      transition: 0.1s ease-in-out;
}

#custom-sidebar {
      background-color:#fff; 
      max-width: 250px;
}

#top-menu-item {
      cursor: pointer;
      color:dimgray
}

#top-menu-item:hover {
      background-color: #00000005; 
}

.darkmode--activated .bg-secondary {
      background-color: #ededed;
      color: #000;
}

.darkmode--activated table {
      background-color: #ededed;
      color: #000;
}

.darkmode--activated .has-text-dark:hover {
      color: #fff!important;
}