@font-face {
      font-family: 'Product Sans';
      src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

* {
      margin: 0px;
      padding: 0px;
}

body {
      font-family: Product Sans, sans-serif;
      background-color: #fcfcfc;
}

table {
      border-collapse: collapse;
}

thead {
      border-bottom: 1px solid #f1f1f1;
      line-height:10px;
}

tfoot {
      border-top: 1px solid #f1f1f1;
      line-height:30px;
}

tbody:before {
      content:"@";
      display:block;
      line-height:15px;
      text-indent:-99999px;
}

tbody:after {
      content:"@";
      display:block;
      line-height:15px;
      text-indent:-99999px;
}

tr {
      margin-bottom: 20px;
      height: 40px;
}

th, td {
      border: none !important;
}

.clickable {
      cursor: pointer;
}

.hoverable:hover {
      transform: scale(1.05);
      transition: 0.1s ease-in-out;
}

#custom-sidebar {
      background-color:#fff; 
      /* background-color:rgb(42, 196, 42);  */
      max-width: 250px;
}

#top-menu-item {
      cursor: pointer;
      color:dimgray
}

#top-menu-item:hover {
      background-color: #00000005; 
}

.darkmode--activated .bg-secondary {
      background-color: #ededed;
      color: #000;
}

.darkmode--activated table {
      background-color: #ededed;
      color: #000;
}

.darkmode--activated .box {
      box-shadow: none;
}

.darkmode--activated .has-text-dark:hover {
      color: #fff!important;
} 
.darkmode--activated input{
      background-color: #000;
      color: lightgray; 
} 
.darkmode--activated select label{ 
      color: lightgray; 
}

.darkmode--activated .label{ 
      color: lightgray; 
}
.darkmode--activated input{ 
      border-color: gray; 
}

.darkmode--activated select{ 
      border-color: gray; 
}
.darkmode--activated textarea{ 
      border-color: gray; 
}

.darkmode--activated input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color: lightgray;
}
.darkmode--activated select{
      background-color: #000;
      color: #fff; 
}
.darkmode--activated textarea{
      background-color: #000;
      color: #fff; 
}
#menu{
      display: none;
}
@media only screen and (max-width: 600px) {
      #categories {
        display: none;
      }
      .logo{
            display: none;
      }
      #menu{
            width: 40px;
            height: 30px; 
            margin: 14px;
            display: block;
            float: right;
      }
      #breadcrumb{
            padding-top: 30px;
      }
      #custom-sidebar{
            width: 400px;
            padding: 10px; 
            float:left;
            overflow: hidden;
            transition: 1000;
      }
      aside{
            background: #198754;
      }
    }